p{
    font-size: 21px;
}
span{
    font-size:18px;
    font-style: italic;
}
button{
    font-size:14px;
}
h1{
    margin-top: 30px;
    font-size:60px;
    font-weight: bolder;
    letter-spacing: 1px;
}
